@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  //font-family: "JetBrains Mono", monospace;
  //font-optical-sizing: auto;
  //font-weight: 500;
  //font-style: normal;

  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-md);
  
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: var(--color-secondary);
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--color-primary);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: var(--color-primary);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul, ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol, ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  height: 100svh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}