@use "@/shared/styles/variables" as variables;

h1.base{
  font-size: variables.$font-size-xxl;
}

h2.base{
  font-size: variables.$font-size-xl;
}

h3.base{
  font-size: variables.$font-size-lg;
}

h4.base{
  font-size: variables.$font-size-md;
}

h5.base{
  font-size: variables.$font-size-sm;
}

h6.base{
  font-size: variables.$font-size-xs;
}
